:root {
    --background-cource-box: rgba(0, 0, 0, 0.3);
    --shadow-cource-box: rgba(255, 255, 255, 0.1) 0px 4px 12px;
    --red-salsa-lecturer: #ff595eff;
    --shadow-master: #8c8462ff;
    --royal-purple-expert: #6a4c93ff;
    --green-blue-crayola-advanced: #1982c4ff;
    --orange-intermediate: #ff8500ff;
    --malachite-beginner: #04e762ff;
}

main.cources .global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    gap: 30px;
}

.page-title {
    font-family: "ximplyFonts600";
    font-size: 72px;
    margin-bottom: 8px;
    padding: 30px 0;
    line-height: 1.5em;
    text-transform: capitalize;
}

.global-container .page-container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    min-height: fit-content;
    width: 100%;
}

.global-container .page-container:has(div:odd) {
    justify-content: center;
}

.global-container .page-container:not(:has(div))::after {
    content: "We apologize for the inconvenience, currently, all our courses are fully booked. We highly recommend checking back with us at a later time as new opportunities may open up. Thank you for your understanding!";
    color: var(--foreground-color);
    font-style: italic;
    opacity: 0.5;
    display: block;
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cource-box {
    position: relative;
    display: flex;
    gap: 20px;
    background-color: var(--background-cource-box);
    width: calc((100% - 30px) / 2);
    min-width: 300px;
    height: 175px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: var(--shadow-cource-box);
    cursor: pointer;
    border: 1px solid var(--shadow-master);
    transition: border ease 0.15s;
}

div.level-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    width: 125px;
    height: 133px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.level-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

div.level-box .level-icon {
    text-transform: capitalize;
    font-family: "ximplyFonts700";
    font-size: 100px;
    line-height: 100px;
    opacity: 0.8;
}

.cource-box[target="begginer"] div.level-box,
.cource-box[target="begginer"] .cource-details a.btn:hover {
    background-color: var(--malachite-beginner);
    color: var(--malachite-beginner);
}

.cource-box[target="intermediate"] div.level-box,
.cource-box[target="intermediate"] .cource-details a.btn:hover {
    background-color: var(--orange-intermediate);
    color: var(--orange-intermediate);
}

.cource-box[target="advanced"] div.level-box,
.cource-box[target="advanced"] .cource-details a.btn:hover {
    background-color: var(--green-blue-crayola-advanced);
    color: var(--green-blue-crayola-advanced);
}

.cource-box[target="expert"] div.level-box,
.cource-box[target="expert"] .cource-details a.btn:hover {
    background-color: var(--royal-purple-expert);
    color: var(--royal-purple-expert);
}

.cource-box[target="master"] div.level-box,
.cource-box[target="master"] .cource-details a.btn:hover {
    background-color: var(--shadow-master);
    color: var(--shadow-master);
}

.cource-box[target="lecturer"] div.level-box,
.cource-box[target="lecturer"] .cource-details a.btn:hover {
    background-color: var(--red-salsa-lecturer);
    color: var(--red-salsa-lecturer);
}

.cource-box .cource-details {
    max-width: 75%;
    text-align: left;
}

.cource-box .cource-details .title {
    display: -webkit-box;
}

.cource-box .cource-details .title,
.cource-box .cource-details .code {
    font-family: "ximplyFonts600";
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    transition: transform ease 0.15s;
    transform: translateY(50%);
}

.cource-box:hover .cource-details .title {
    transform: translateY(0%);
}

.cource-box .cource-details .code::after {
    content: "•";
    font-size: 20px;
    font-family: sans-serif;
    padding: 0 10px;
}

.cource-details .btn {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
    background-color: unset !important;
    border: 1px solid var(--foreground-color);
    color: var(--foreground-color);
    opacity: 0;
    transform: translateY(20%);
}

.cource-box:hover .btn {
    opacity: 1;
    transform: translateY(0%);
}

.cource-details .btn:hover {
    background-color: unset !important;
}

.global-container .footer-description {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    font-family: "ximplyFonts600";
    min-height: 75%;
    margin-top: 28px;
}

.footer-description .levels-description span.description {
    display: block;
    text-align: justify;
    max-width: 420px;
    padding-bottom: 30px;
    opacity: 0.7;
}

.footer-description .levels-description ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-between;
    column-gap: 30px;
    padding-left: 0;
    margin-top: 0;
}

.footer-description .levels-description ul li {
    list-style: none;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.footer-description .levels-description ul li::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "ximplyFonts700";
    font-size: 32px;
    color: var(--foreground-color);
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.footer-description div.levels-description ul li[target="begginer"]::before {
    background-color: var(--malachite-beginner);
    content: "B";
}

.footer-description
    div.levels-description
    ul
    li[target="intermediate"]::before {
    background-color: var(--orange-intermediate);
    content: "I";
}

.footer-description div.levels-description ul li[target="advanced"]::before {
    background-color: var(--green-blue-crayola-advanced);
    content: "A";
}

.footer-description div.levels-description ul li[target="expert"]::before {
    background-color: var(--royal-purple-expert);
    content: "E";
}

.footer-description div.levels-description ul li[target="master"]::before {
    background-color: var(--shadow-master);
    content: "M";
}

.footer-description div.levels-description ul li[target="lecturer"]::before {
    background-color: var(--red-salsa-lecturer);
    content: "L";
}

.footer-description ul li span {
    font-family: "ximplyFonts500";
    font-size: 20px;
}

.global-container .footer-description svg {
    height: auto;
    min-height: 100%;
    padding-bottom: 30px;
}

@media (max-device-width: 1170px) {
    div.cource-box {
        flex-direction: column;
        height: fit-content;
    }

    div.cource-box .cource-details {
        max-width: 100%;
    }

    div.level-box img {
        object-fit: cover;
    }

    div.level-box {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
    }
}

@media (max-device-width: 870px) {
    .page-container {
        flex-direction: column !important;
        align-content: center !important;
        gap: 50px;
    }
}

@media (max-device-width: 800px) {
    .global-container {
        justify-content: flex-start !important;
        align-items: center !important;
    }

    .footer-description {
        flex-direction: column !important;
        justify-content: space-between !important;
    }
}

@media (max-device-width: 480px) {
    .footer-description .levels-description ul {
        grid-template-columns: unset;
        grid-template-rows: repeat(6, 1fr) !important;
        justify-content: space-around;
        row-gap: 30px;
    }
}
