@font-face {
    font-family: "ximplyFonts";
    src: url("../asserts/fonts/NeverMind-Regular400-90c70ed54d.woff") format("woff");
}

@font-face {
    font-family: "ximplyFonts300";
    src: url("../asserts/fonts/NeverMind-light300-71847da27d.woff") format("woff");
}

@font-face {
    font-family: "ximplyFonts500";
    src: url("../asserts/fonts/NeverMind-Medium500-a98b53da8d.woff") format("woff");
}

@font-face {
    font-family: "ximplyFonts600";
    src: url("../asserts/fonts/NeverMind-DemiBold600-ef350933d7.woff") format("woff");
}

@font-face {
    font-family: "ximplyFonts700";
    src: url("../asserts/fonts/NeverMind-Bold700-7d10122186.woff") format("woff");
}