main.home .global-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    gap: 30px;
}

.summery-block {
    flex-basis: min-content;
    flex-grow: 0;
    flex-shrink: 0;
}

.main-title {
    font-family: "ximplyFonts700";
    font-size: 96px;
    text-transform: uppercase;
    white-space: nowrap;
    word-break: break-word;
    line-height: 1.25;
    color: var(--background-color);
    margin-bottom: 30px;
    transition: font-size ease 0.3s;
}

.sub-note,
.highlight-word,
.description-text {
    display: block;
    margin-top: auto;
    padding-top: 30px;
    bottom: 0px;
    font-size: 20px;
    font-family: "ximplyFonts600";
    color: var(--background-color);
    line-height: 1.5;
}

.highlight-word {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight-word svg {
    position: absolute;
    top: 30px;
    left: -5px;
    z-index: -1;
    width: 85px !important;
    fill: #373660;
}

.description-block {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

.description-block .description-text {
    text-transform: uppercase;
    font-family: "ximplyFonts500";
    font-size: 14px;
    opacity: 0.7;
}

@media (min-device-width: 600px) {
    .main-title {
        font-size: 60px !important;
    }

    .description-block {
        align-self: center !important;
    }
}

@media (min-device-width: 800px) {
    .main-title {
        font-size: 75px !important;
    }

    .description-block {
        padding: 50px !important;
        padding-bottom: 0 !important;
        align-self: center !important;
    }
}

@media (max-device-width: 1170px) {
    .main-title {
        display: block !important;
        text-align: center !important;
        font-size: 40px !important;
        margin-top: 30px !important;
    }

    .sub-note.text,
    .highlight-word,
    .highlight-word > svg {
        padding-top: 0px;
        top: 0;
        text-align: center !important;
    }

    .summery-block {
        align-self: center !important;
    }

    .global-container {
        flex-direction: column !important;
        align-items: flex-end !important;
    }

    .xm-container {
        justify-content: center !important;
        padding: 0px !important;
    }

    .description-block svg {
        padding: 50px !important;
        padding-bottom: 0 !important;
    }
}
